@media print{
/*hide every thing on the page like the copyright and contact info and the badges*/
body *{
    visibility: hidden ;
}
/*hide the navigation bar and footer and h1 and button to make the page clearer*/
.navbar, .footer, h1, button{
    display: none;
 }
/*making the table visible so it can apper in the printing page*/ 
table, table * {
   visibility: visible !important;
}

    
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 5px solid black;
    color: black;
    padding: 5px;
}
}