body *{
    display:none;
}

table, table * {
    display: table;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 5px solid black;
    color: black;
    padding: 5px;
}