/* 
  Name: Raed Ahmed Alsafry
  ID: 2236088
  Section: CS1
  Date: 2025-10-04
  File: style.css
  Description: Main styling for Raed Retro Store website
*/
/* Selects all elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body style: background, text, and font setup */
body {
    background-color: #036760;
    color: #B0B0B0;
    font-family: "Press Start 2P", "Consolas", monospace;
    margin: 0px;
    padding: 0px;
}

/* Centered link styles for Contact me */
a{
    display: block;
    margin: 20px auto;
    text-align: center;
}

/* Blockquote appearance*/
blockquote{
    color: deeppink;
    background-color: rgb(18, 3, 3);
    text-align: center;
}

/* Citation styling */
cite{
    font-style:oblique;
    color: cyan;
    background: white;
}

/* Span styling */
span{
    font-style: italic;
    text-decoration: underline;
    color: crimson;
    background-color: black;
}

/* Navigation Bar */
.navbar {
    background-color: #3e2c72;
    padding: 20px 40px;
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap:wrap;
}


/* Flex layout for nav content */


/* Logo text link */



/* Nav link style */
.navbar a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 25px;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis: 20%;
}

/* Hover effect on nav links */
.navbar a:hover {
    color: #FFCB05;
}

.logo a {
    font-size: 20px;
    font-weight:600;
    color: gold;
}
/* Buttons */
button {
    background-color: #585858;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

/* Button hover effect */
button:hover {
    background-color: #FFCB05;
}

/* Contact textarea */
/* Styling for complaint textarea */
#Complane {
    width: 75%;
    height: 50%;
    font-size: 14px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid;
    background-color: white;
    color: rgb(12, 12, 12);
    font-family: "Press Start 2P", "Consolas", monospace;
}

/* Legend for the form style */
legend{
    padding: 5px;
    margin: 10px ;
    color: white;
}

/* Lable for the form style */
label{
    padding-left: 2%;
    padding-top: 10px;
    margin: 10px 15px 10px 100px;
    color: #FFCB05;
}
#username,#fname,#lname,#email,#phone,#gname,#quantity,#Price,#Condition{
   display: block;
   width: 20em;
   margin-left: 10%;
   margin-bottom: 10px;
   padding-bottom: 10px;
   
}
#agree-to-term,#agree-to-use-of-data{
   margin-bottom: 2%;
   margin-top: 1%;
   margin-left: 20%;
}
.status-option {
    display: flex;
}

.status-option label {
    color: #FFCB05;
}



fieldset{
    margin-top: 5px;
    padding: 5px;
}
.buttoncontainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    gap: 50%;                  
    margin-top: 20px;           
}
/* Submit button style */
.SubmitB,.ResetB {
    background-color: #585858;
    border-radius: 10px;
    padding: 10px;
    margin-left: 100px;
    width: 90px;
}

.SubmitB a,.ResetB a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.SubmitB:hover ,.ResetB:hover{
    background-color: #FFCB05;
}

/* Headings and Paragraphs */
/* Main page heading style */
h1 {
    background-color: aquamarine;
    color: azure;
    font-family: "Press Start 2P", "consolas", sans-serif;
    text-align: center;
    border-style: inset;
    border-width: 5px;
    border-color: gold;
    border-radius: 15px;
    padding: 5px;
    background: linear-gradient(to right, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 20px;
}

/* Paragraph style for general sections */
p {
    background-color: #39206a;
    color: #FFCB05;
    text-align: center;
    margin: 20px;
    border-width: 5px;
    border-radius: 20px;
    border-style: groove;
    border-color: darkmagenta;
    padding: 25px;
}

/* Home Page */
/* Paragraph inside box1 */
#box1 p {
    text-align: center;
    background-color: crimson;
    color: rgb(249, 248, 245);
    padding: 10px;
    border-style: solid;
    border-color: silver;
    border-radius: 35px;
    border-width: 8px;
    
}
/*New box1*/
#box1 {
  background: linear-gradient(135deg, #1e0f3f, #6825a3);
  color: #ffffff;
  font-family: 'Press Start 2P', Consolas, monospace;
  padding: 25px;
  border: 3px solid #920c7e;
  border-radius: 15px;
  max-width: 90%;
  margin: 40px auto;
  box-shadow: 0 0 20px #06db3f;
  height: auto;
  font-size: 12px;
}

#box1 h2 {
  font-size: 20px;
  color: #ffcc00;
  text-align: center;
  margin-bottom: 20px;
}

#box1 img{
    width: 100%;              
    max-width: 300px;         
    height: auto;             
    display: block;           
    margin: 20px auto;        
    border-radius: 10px;      
    border: 4px solid #ffcc00;
}

/*End of it */
/* Section subheadings */
h2 {
    padding: 20px;
    text-align: start;
    color: #FFCB05;
    background: linear-gradient(to right, rgb(213, 10, 101), rgb(6, 108, 224));
}

/* Producets Section (Items Page) */
.producets-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    margin: 50px;
    background: linear-gradient(to left, rgb(20, 0, 9), rgb(244, 244, 245));
}

.producets-section img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #FFCB05;
    margin-top: 25px;
    margin-right: 50px;
    text-align: center;
}

/* Footer */
footer{
    background-color:#670404;
    padding-top: 50px;
    height: auto;
}
.container{
    display:grid;
    grid-template-areas: "contact quicklink" "bottom-bar bottom-bar";
    grid-template-columns: 50% 50%;
    
}

/* Footer section container */
.footer{
    background-color: #670404;
    padding: 40px 0 20px 0;
    color: #FFCB05;
    font-family: "Press Start 2P", "consolas", sans-serif;
}
.footer-content{
   grid-area: contact;
    text-align: center;
}


.footer-content-quick{
grid-area:quicklink;

}

.footer-content-quick h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: #dcdcdc;
}
.footer-content p{
  margin: 5px 0;
  color: #FFCB05;
  padding:25px
  
}

.footer-content-quick ul{
    padding: 0px;
    margin: 0px;
    display: inline;
 

}

/* Footer quick links list */
.list li{
    list-style-type:none ;
    margin:  0px;
}
.list li a{
    text-decoration: none;
    color: white;
}
.list li a:hover{
   color: #FFCB05;
}


/* Bottom bar copyright */
.bottom-bar {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    grid-area:bottom-bar;
}
.bottom-bar p {
    color: #FFCB05;
    font-size: 12px;
    margin: 0;
}

/* Box2 (About Page, etc.) */
.box2 {
  background: linear-gradient(135deg, #1e0f3f, #6825a3);
  color: #ffffff;
  font-family: 'Press Start 2P', Consolas, monospace;
  padding: 25px;
  border: 3px solid #ffcc00;
  border-radius: 15px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 0 20px #ffcc00;
}

.box2 h2 {
  font-size: 20px;
  color: #ffcc00;
  text-align: center;
  margin-bottom: 20px;
}

.box2 ul {
  list-style-type: square;
  padding-left: 30px;
  line-height: 1.8;
}

.box2 li {
  margin-bottom: 10px;
}

/* Featured Games (Items Page) */
.featured-game {
  background-color: #3e2c72;
  color: white;
  font-family: 'Press Start 2P', monospace;
  padding: 20px;
  border: 3px solid gold;
  border-radius: 10px;
  margin: 30px;
  overflow: hidden;
}

/* Floating images next to text */
.float-left {
  float: left;
  width: 180px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  border: 2px solid white;
}

.float-right {
  float: right;
  width: 180px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  border: 2px solid white;
}

/* Clearing layout after floats */
.clear-both{
  display: block;
  clear: both;
  width: 180px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  border: 2px solid white;
}

/* Text in featured game box */
.featured-game p {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 0px;
  background: none;
  padding: 0px;
}

/* Buy button under games */
.buy-button {
  background-color: gold;
  color: #3e2c72;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: white;
  color: black;
}

/* Console Name Header */
.console-name{
  background-color: rgb(0, 24, 244);
  color: white;
  font-family: 'Press Start 2P', monospace;
  padding: 20px;
  border: 3px ridge rgb(249, 251, 251);
  border-radius: 10px;
  margin: 30px;
  overflow: hidden;
}
.console-name h1{
  color:silver;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 0px;
  background: none;
  padding: 0px;
}

.form_div{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#registerform{
    width: 400px;
}

.form_container{
    border: 2px solid;
    border-color: cadetblue;
    border-radius: 10px;
}

.form_container h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.block_label{
    display: block;
    margin-bottom: 25px;
}

.block_label span{
    background-color: transparent;
    text-decoration: none;
}

.block_label #username,.block_label #fname,.block_label #lname,.block_label #email{
    width: 10em;
    margin: 0px;
}

.form_container p{
  background-color: transparent;
  color: grey;
  text-align: center;
  margin: 0px;
  border: none;
  padding: 0px;
  font-size: 10px;
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
}

.v_body{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39206a;
}

.center_div{
    display: flex;
    flex-direction: column;
    width: 1000px;
    /* background-color: #FFCB05; */
    gap: 30px;
  
}

.video_div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: #1F51FF;
    border: 5px solid #670404;
    border-radius: 10px;
}

iframe.video_embed{
    float: right;
    width: 70%;
    height: 500px;
    border: none;
}

.v_container_p{
    width: 30%;
    margin: 2px;
}

p.video_p{
  font-size: 10px;
  background-color: transparent;
  color: #39FF14;
  text-align: left;
  margin: 0px;
  border: none;
  padding: 0px;
}




.photo_gallery{

display:flex;
justify-content:space-around;
flex-wrap: wrap;
align-content: space-around;

row-gap:20px;




}




.photo_gallery img{


flex-basis: 250px;
max-width:  500px;
min-width: 150px;
height: 400px;
transition: flex-basis 1.5s;




}
.popup-imag{
position:fixed;
top:0; left: 0;
background: rgb(0,0,0,0.9);
height:100%;
width:100%;
z-index: 100;
display:none;
}

.popup-imag span{
position:absolute;
top:0px;
right:10px;
z-index:100;

}

.popup-imag img{
position:absolute;
top: 10%;
left:30%;
width:500px

}

@media (max-width: 768px){
   .popup-imag img{
    width:95%;
   }
}


.pdf {
        width: 100%;
        aspect-ratio: 4 / 3;
    }
    .pdf,
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    h1,
    h3 {
        text-align: center;
    }

.Table {
    width: 100%;
    border: 10px solid black;
    overflow-wrap: anywhere;

}

.Table th, .Table td {
    padding: 5px;
    text-align: center;
    background-color: darkblue;
    color: white;
    border: 4px solid black; 
    font-size: small; 
}

.Table caption {
    color: #FFCB05;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
}

.log_btn{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
@media (max-width: 768px) {
    .Table th, .Table td {
        font-size: 12px;
        padding: 5px;
    }

    .Table {
        min-width: 400px;  
    }
}

/* Desktop (large screens) */
@media screen and (min-width: 1024px) {
    .navbar a {
        font-size: 18px;
    }

    .photo_gallery img {
        flex-basis: 300px;
        height: 450px;
    }
}

/* Tablet (Meduim Screen) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .producets-section {
        flex-direction: column;
        text-align: center;
    }

    .video_div {
        flex-direction: column;
    }

    iframe.video_embed {
        width: 100%;
        height: 350px;
    }
}

/* Smartphone (Small Screen) */
@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .featured-game {
        margin: 10px;
    }

    .float-left, .float-right {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .photo_gallery img {
        flex-basis: 100%;
        height: auto;
    }
    .Table {
        border: none;
        width: 100%;
    }

    .Table tr {
        display: block;
        background: darkblue;
        border: 3px solid black;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 15px;
    }

    .Table td {
        display: block;
        padding: 8px 0;
        border: none;
        text-align: center;
        color: white;
    }
    .Table th {
        display: block;
        font-size: 14px;
        padding: 3px;
        border: none;
        white-space: nowrap;  
    }

}